<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Version</key>
		<string>1.03</string>
		<key>Date</key>
		<string>19.01.2018</string>
		<key>News</key>
		<array>
			<string>Variedades:
1) Agrego un grupo de flor exotica;
2) Se actualizo el orden de clasificacion de los tipos de flores: primero ve los tipos de flores por posicion y por nombre, luego los grupos por ID;
3) Se corrigio la salida de variedades por actividad, porcentaje de compra y nombre.</string>
			<string>Fincas:
Se corrigio la salida de variedades por actividad, porcentaje de compra y nombre.</string>
			<string>Pedidos actuales:
Se corrigio el filtrado de los pedidos actuales.</string>
			<string>Reclamos:
Implemento la posibilidad de agregar varias fotos a la vez al crear un reclamo.</string>
		</array>
	</dict>
	<dict>
		<key>Version</key>
		<string>1.01</string>
		<key>Date</key>
		<string>16.05.2017</string>
		<key>News</key>
		<array>
			<string>Nuevo servicio &quot;Reclamaciones&quot;. Ahora tiene la posibilidad de crear nuevas, editar y ver reclamaciones.</string>
			<string>Se ha implementado la sección &quot;Acerca de&quot;. Contiene una lista de las nuevas funciones de la aplicación.</string>
		</array>
	</dict>
</array>
</plist>
