<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Version</key>
		<string>1.01</string>
		<key>Date</key>
		<string>16.05.2017</string>
		<key>News</key>
		<array>
			<string>Новый сервис &quot;Рекламации&quot;. Теперь у Вас есть возможность создавать новые , редактировать и просматривать рекламации.</string>
			<string>Добавлена секция &quot;О приложении&quot;. Она содержит список обновлений.</string>
		</array>
	</dict>
</array>
</plist>
