<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Version</key>
		<string>1.03</string>
		<key>Date</key>
		<string>19.01.2018</string>
		<key>News</key>
		<array>
			<string>Varieties:
1) Exotic flowers group added;
2) Flowers type sortorder updated: in the first place - flowers by position and name are shown, and then groups by id;
3) Variety sortorder by demand, ratio and name corrected.</string>
			<string>Farms:
Farms sortorder by activity, ratio and name corrected.</string>
			<string>Current Orders:
Current orders filtering corrected.</string>
			<string>Claims:
New option implemented – several images simultaneous upload when claim is created.</string>
		</array>
	</dict>
	<dict>
		<key>Version</key>
		<string>1.01</string>
		<key>Date</key>
		<string>16.05.2017</string>
		<key>News</key>
		<array>
			<string>New service &quot;Claims&quot;. Now you have a possibility to create new, edit and view claims.</string>
			<string>Implemented &quot;About&quot; section. It contains list of the new features in the app. </string>
		</array>
	</dict>
</array>
</plist>
